<div class="py-3 bg-light">
  <div class="container" data-turbolinks="false">
    <div class="row justify-content-center py-4">
      <% if current_user.presence && current_user.id == @spot.user_id %>
        <div class="col-md-9 p-3">
          <h2 class="wrapping-signup">スポット編集</h2>
          <%= render 'form', spot: @spot %>
          <div class="pt-3 pb-5">
            <%= link_to "戻る", @spot, class: "btn btn-dark widebutton" %>
          </div>
          <h2 class="wrapping-signup pt-5">スポット削除</h2>
          <div class="small my-1 text-center">このおすすめスポットを削除します</div>
          <div class="py-3">
            <button type="button" class="btn btn-dark widebutton" data-bs-toggle="modal" data-bs-target="#staticBackdrop">投稿を削除する</button>
          </div>
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">おすすめスポットを削除</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body my-3">本当に投稿を削除してもよろしいですか？</div>
                <div class="modal-footer d-flex justify-content-around">
                  <button type="button" class="btn btn-secondary" style="width: 120px;" data-bs-dismiss="modal">削除しない</button>
                  <%= link_to @spot, method: :delete do %>
                    <button type="button" class="btn btn-dark" style="width: 120px;">削除する</button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% elsif current_user.present? %>
        自分の投稿以外は編集できません
        <div class="pt-3 pb-5">
          <%= link_to "戻る", :back, class: "btn btn-dark widebutton" %>
        </div>
      <% else %>
        <%= render 'shared/nologin' %>
      <% end %>
    </div>
  </div>
</div>
