<%= render 'shared/spotmenu' %>
<div class="container-fluid" data-turbolinks="false">
  <div class="row my-3 mx-2">
    <% @spots.each do |spot| %>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-3 p-md-4 d-flex justify-content-center">
        <%= link_to spot, class: "nondeco overhidden" do %>
          <div class="card w-100 nonebutton" style="width: 18rem;">
            <%= image_tag 'sample.jpg', class: "card-img-top spot-thumb", alt: "Spot photo" %>
            <div class="card-body px-1 py-2">
              <h5 class="card-title spot-text-main font-m-500 mb-1"><%= spot.name %></h5>
              <p class="card-text spot-address font-m-400 mb-1"><%= spot.address %></p>
              <p class="card-text spot-describe spot-text-sub font-m-400 lh-sm pe-3"><%= spot.describe %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<h1>スポットたち</h1>
<table>
  <thead>
    <tr>
      <th>投稿者</th>
      <th>スポット名</th>
      <th>所在地</th>
      <th>特徴</th>
      <th>説明</th>
      <th>画像</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spots.each do |spot| %>
      <tr>
        <td><%= spot.user.nickname %></td>
        <td><%= spot.name %></td>
        <td><%= spot.address %></td>
        <td><%= spot.feature %></td>
        <td><%= spot.describe %></td>
        <td><%= spot.images %></td>
        <td><%= link_to '詳細', spot %></td>
        <td><%= link_to '編集', edit_spot_path(spot) %></td>
        <td><%= link_to '削除', spot, method: :delete, data: { confirm: "削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'おすすめスポット新規投稿', new_spot_path, "data-turbolinks": "false" %>
