<div class="py-3 bg-light">
  <div class="container">
    <div class="row justify-content-center py-4">
      <div class="col-md-9 p-3"  data-turbolinks="false">
        <h2 class="wrapping-signup">ユーザー登録</h2>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="mx-auto ps-3 mb-2 max600"><span class="small">一言紹介とアバター以外は入力必須です</span></div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="form-floating mb-3 mx-auto max600">
            <%= f.text_field :nickname, id: "floatingNickname", class: "form-control", placeholder: "ニックネーム", required: true %>
            <%= f.label :nickname, "ニックネーム", for: "floatingNickname" %>
          </div>
          <div class="form-floating mb-3 mx-auto max600">
            <%= f.email_field :email, id: "floatingInput", class: "form-control", placeholder: "メールアドレス", autocomplete: "email", required: true %>
            <%= f.label :email, "メールアドレス", for: "floatingInput" %>
          </div>
          <div class="form-floating mb-3 mx-auto max600">
            <%= f.password_field :password, id: "floatingPassword", class: "form-control", placeholder: "パスワード", required: true %>
            <% if @minimum_password_length %>
              <%= f.label :password, "パスワード#{t('devise.shared.minimum_password_length', count: @minimum_password_length)}", for: "floatingPassword" %>
            <% end %>
          </div>
          <div class="form-floating mb-3 mx-auto max600">
            <%= f.password_field :password_confirmation, id: "floatingPasswordConfirmation", class: "form-control", placeholder: "パスワード（確認用）", required: true %>
            <%= f.label :password_confirmation, "パスワード（確認用）", for: "floatingPasswordConfirmation" %>
          </div>
          <div class="form-floating mb-3 mx-auto max600">
            <%= f.text_field :introduction, id: "floatingIntro", class: "form-control", placeholder: "一言紹介" %>
            <%= f.label :introduction, "一言紹介", for: "floatingIntro" %>
          </div>
          <div class="mb-3 mx-auto max600">
            <%= f.label :avatar, "アバター", for: "formFile", class: "form-label" %><span class="small"> (jpg, jpeg, gif, png )</span>
            <%= f.file_field :avatar, id: "formFile", class: "form-control" %>
          </div>
          <div class="py-2 mx-auto max600">
            <%= f.submit "ユーザーを登録する", class: "btn btn-dark widebutton" %>
          </div>
        <% end %>
        <div class="small my-1 text-center">または</div>
        <div class="py-2 mx-auto max600">
          <%= link_to 'ゲストログイン', users_guest_login_path, method: :post, class: "btn btn-dark widebutton" %>
        </div>
        <div class="my-3 mx-auto text-center" style="font-size:18px;">
          既にアカウントをお持ちの場合：<%= link_to "ログイン", new_user_session_path %>
        </div>
      </div>
    </div>
  </div>
</div>
