<div class="bottom-space d-block d-md-none"></div>
<div class="d-block d-md-none container-fluid text-center fixed-bottom py-0 bg-white">
  <div class="row fs10 mobilemenu" data-turbolinks="false">
    <div class="col">
      <%= link_to root_path, class: "nondeco text-black" do %>
        <div><%= image_tag 'home.jpeg', size: '30x30' %></div>
        <div>トップページ</div>
      <% end %>
    </div>
    <div class="col">
      <div class="dropup">
        <span class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <div><%= image_tag 'spot.png', size: '30x30' %></div>
          <div>スポットメニュー</div>
        </span>
        <ul class="dropdown-menu font-m-400">
          <% if user_signed_in? %>
            <li><%= link_to "スポットを編集", spot_edit_select_path, class: "dropdown-item" %></li>
            <li><%= link_to "スポットを投稿", new_spot_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "いいね！一覧へ", users_likes_path, class: "dropdown-item" %></li>
            <li><%= link_to "スポット一覧へ", spots_path, class: "dropdown-item" %></li>
          <% else %>
            <li><%= link_to "スポット一覧へ", spots_path, class: "dropdown-item" %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="dropup">
        <span class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <div><%= image_tag 'user.png', size: '30x30' %></div>
          <div>ユーザーメニュー</div>
        </span>
        <ul class="dropdown-menu font-m-400">
          <% if user_signed_in? %>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "アカウント設定", edit_user_registration_path, class: "dropdown-item" %></li>
            <li><%= link_to "マイページ", users_account_path, class: "dropdown-item" %></li>
          <% else %>
            <li><%= link_to "ユーザー登録", new_user_registration_path, class: "dropdown-item" %></li>
            <li><%= link_to "ログイン", new_user_session_path, class: "dropdown-item font-m-500" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
