<div class="container-fluid text-center pt-2 pb-1 pb-md-2 spotmenu-shadow">
  <div class="row" data-turbolinks="false">
    <div class="col">
      <div class="pb-sm-1"><%= image_tag 'kyoto.jpeg', size: '30x30' %></div>
      <span class="font11-16">東京</span>
    </div>
    <div class="col">
      <div class="pb-sm-1"><%= image_tag 'kyoto.jpeg', size: '30x30' %></div>
      <span class="font11-16">大阪</span>
    </div>
    <div class="col">
      <div class="pb-sm-1"><%= image_tag 'kyoto.jpeg', size: '30x30' %></div>
      <span class="font11-16">京都</span>
    </div>
    <div class="col">
      <div class="pb-sm-1"><%= image_tag 'kyoto.jpeg', size: '30x30' %></div>
      <span class="font11-16">大分</span>
    </div>
    <div class="col">
      <div class="pb-sm-1"><%= image_tag 'kyoto.jpeg', size: '30x30' %></div>
      <span class="font11-16">広島</span>
    </div>
    <div class="col">
      <div class="pb-sm-1"><%= image_tag 'kyoto.jpeg', size: '30x30' %></div>
      <span class="font11-16">愛媛</span>
    </div>
  </div>
</div>
