<div class="container-fluid text-center py-3 spotmenu-shadow">
  <div class="row">
    <div class="col">
      <div class="body_menu_airphp_logo"><%= image_tag 'kyoto.jpeg' %></div>
      <div class="body_menu_airphp_name">東京</div>
    </div>
    <div class="col">
      <div class="body_menu_airphp_logo"><%= image_tag 'kyoto.jpeg' %></div>
      <div class="body_menu_airphp_name">大阪</div>
    </div>
    <div class="col">
      <div class="body_menu_airphp_logo"><%= image_tag 'kyoto.jpeg' %></div>
      <div class="body_menu_airphp_name">京都</div>
    </div>
    <div class="col">
      <div class="body_menu_airphp_logo"><%= image_tag 'kyoto.jpeg' %></div>
      <div class="body_menu_airphp_name">大分</div>
    </div>
    <div class="col">
      <div class="body_menu_airphp_logo"><%= image_tag 'kyoto.jpeg' %></div>
      <div class="body_menu_airphp_name">広島</div>
    </div>
    <div class="col">
      <div class="body_menu_airphp_logo"><%= image_tag 'kyoto.jpeg' %></div>
      <div class="body_menu_airphp_name">愛媛</div>
    </div>
  </div>
</div>
